.container {
    border: 1px solid #C2C2B9;
    border-radius: 4px; 
    width: 1232px; 
    height: 86vh; 
    overflow-y: auto
}

.title {
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}